@media screen and (max-width: 950px) {
    .individual-content img{
        width: 35%;
    }
    
    .individual-content p{    
        width: 50%;
    }

}

@media screen and (max-width: 680px) { 
    .header{
        height: 175px;
    }
    .header ul{
        float: left;
        margin-right: 2.5%;
    }
    .individual-content img{
        width: 70%;
        margin-left:15%;
        margin-right:15%;
    }
    
    .individual-content p{
        width: 70%;
        margin-left:15%;
        margin-right:15%;
        font-size: 18px;
    }
    .header h1{
        width: 80%;
    }

}

@media screen and (max-width: 480px) {
    .header{
        height: 225px;
    }
    #photos img{
        float: left;
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5px;
    
    }
    
    .portfolio{
        width: 50%;
        margin-left: 25%;
        font-size: 21px;
    }
    .header li {
        font-size: 22px;
    
    }

}



