@media screen and (max-width: 950px) {
    .individual-content img{
        width: 35%;
    }
    
    .individual-content p{    
        width: 50%;
    }
    .social-media{
        width: 80%;
        margin-left: 10%;
        background-color: white;
        float: left;
        padding-bottom: 50px;
        border-bottom: 2px solid black;
    }
    .social-media img{
        float: left;
        margin-left:0%;
        margin-right:0%;
        width: 10%;
        padding-left:5%;
        padding-right:5%;
        height: 70px;
    }
}

@media screen and (max-width: 680px) { 
    .header{
        height: 175px;
    }
    .header ul{
        float: left;
        margin-right: 2.5%;
    }
    .individual-content img{
        width: 70%;
        margin-left:15%;
        margin-right:15%;
    }
    
    .individual-content p{
        width: 70%;
        margin-left:15%;
        margin-right:15%;
        font-size: 18px;
    }
    .header h1{
        width: 80%;
    }
    .social-media{
        width: 80%;
        margin-left: 10%;
        background-color: white;
        float: left;
        padding-bottom: 50px;
        border-bottom: 2px solid black;
    }
    .social-media img{
        width: 10%;
        margin-left:2.5%;
        margin-right:2.5%;
        height: 70px;
    }
    .portfolio{
        width: 50%;
        margin-left: 20%;
        font-size: 21px;
    }

}
@media screen and (max-width: 620px) {
    .footer{
        display: none;
    }
    .footer1{
        display: block;
    }
    .footer2{
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .header{
        height: 225px;
    }
    
    .portfolio{
        width: 50%;
        margin-left: 20%;
        font-size: 21px;
    }
    .header li {
        font-size: 15px;
    
    }
    .header li a{
        margin-bottom: 25px;
    
    }
    
    .individual-content{
        width: 95%;
        margin-left: 2.5%;
        padding-bottom: 50px;
    }

    .individual-content h1{
        width: 90%;
        margin-left: 5%;
        font-size: 40px;
    }

    .individual-content p{     
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
    }
    
    .projects{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .projects h1{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 30px;
    }

    .projects img{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .projects p{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 21px;
    }
    
    .social-media{
        width: 90%;
        margin-left: 5%;
        background-color: white;
    }
    .social-media img{
        float: left;
        margin-left:0%;
        margin-right:0%;
        width: 15%;
        padding-left:5%;
        padding-right:5%;
        height: 70px;
    }
    
    .footer{
        display: none;
    }
    .footer1{
        display: block;
    }
    .footer2{
        display: block;
    }
    .footer2 p{
    float:left;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}



}



