/*-----------------------------------------------------------
        Big
/*-----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------
        Top
/*-----------------------------------------------------------*/
.big {
    margin:1.5%;
    background-image: url("pictures/hipster3.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
}

/*-----------------------------------------------------------
        Header
/*-----------------------------------------------------------*/
.header{
    height: 150px;
    float: left;
    /*border-bottom: 2px solid white;*/
    width: 100%;
}

.header h1{
    padding-top: 30px;
    float: left;
    margin-left: 2.5%;
    font-size: 40px;
    color: beige;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px 0px black;
}

.header ul{
    padding-top: 30px;
    float: right;
    margin-right: 2.5%;
}


.header li {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    display: inline;
}

.header a {
    text-decoration: none;
    color: beige;
    padding-left:10px;
    padding-right: 10px;
}

.header a:hover {
    color: gainsboro;
}

.info-parent{
    margin-left: 10%;
    width: 90%;
    padding-top: 300px;
}

.info{
    width: 50%;
    text-shadow: 2px 2px 2px black;
    color: beige;
    font-family: 'Lato', sans-serif;
}

.info h1{
    font-size: 40px;
}

.info p{
    font-size: 22px;
}

.footer{
    float: left;
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1%;
}

.footer ul{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
}

.footer li {
    font-family: sans-serif;
    font-size: 26px;
    display: inline;
    
}

.footer a {
    text-decoration: none;
    color: white;
    padding-left:10px;
    padding-right: 10px;
    
}

.footer a:hover {
    color: orangered;
}

.footer img{
    opacity: 0.7;
    height: 50px;
    width: 50px;
}
.footer img:hover{
    opacity: 1.0;
}

